# folder to contain requests #
###################
claude_request/
claude_request_to_gemini/
claude_request_to_gemini_output/
claude_request_to_openai/
claude_request_to_openai_output/
openai_request/
openai_request_to_gemini/
openai_request_to_gemini_output/
